/*Contact page without form*/


 .contact-body {
    background-image: url('../images/VHband.jpg');
    background-position: center;
    background-repeat: no-repeat;
     background-attachment: fixed;
    background-size: cover;
    min-height: 1200px;
 }

 .second-layer {
 	width: 80%;
 	border:2px solid ;
 	margin: 610 auto;
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;

 }


 #map, .modal {
 	margin: 0 30px;
 	width: 25%;
 	height: 20%;
 	border: 2px solid red;
 	background-color: blue;
 	/*border-radius: 30%;*/
 	opacity: 0;

 	-webkit-transition: opacity 3s;
   -moz-transition: opacity 3s;
   -o-transition: opacity 3s;
   transition: opacity 3s;
 }